
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/normalize";
@import "bootstrap/reboot";

@import "bootstrap/grid";
@import "bootstrap/utilities";

@import "bootstrap/breadcrumb";
@import "bootstrap/buttons";
@import "bootstrap/card";
@import "bootstrap/code";
@import "bootstrap/custom-forms";
@import "bootstrap/forms";
@import "bootstrap/input-group";
@import "bootstrap/jumbotron";
@import "bootstrap/list-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/pagination";


input[type="number"] {
  text-align: right;
}


.ace_editor {
  min-height: 8em;
}

.pagination-container {
  text-align: center;
}
